.collection_display {
  margin-top: 5em;
  padding: 1em;
  color: white;
}

@media (max-width: 900px) {
  .collection_display {
    margin-top: 0em;
    padding: 0;
    background-color: rgb(15, 13, 13);
    padding: 0.5em;
    border-radius: 5px;
    width: 97%;
  }
}

.collection_display h1 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  .collection_display h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .collection_display h1 {
    font-size: 1.2rem;
  }

  .img {
    height: 7em;
    width: 5em;
  }
}

.collection_display span:hover {
  cursor: pointer;
}

.collections_actions {
  display: flex;
  width: fit-content;
  padding: 0.5em;
  padding-left: 0;
  border-radius: 3px;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.collections_actions button {
  border: none;
  border-radius: 3px;
  color: white;
  background-color: rgb(20, 20, 20);
  padding: 0.5em;
  font-size: 1.2rem;
}

@media (max-width: 1000px) {
  .collections_actions button {
    font-size: 1rem;
  }
}

.collections_actions button:last-child {
  background-color: rgb(201, 15, 15);
}

.collections_actions button:hover {
  cursor: pointer;
}

.collection_items_display {
  padding: 1em;
  height: 20em;
  width: 100%;
  overflow-y: scroll;
}

@media (max-width: 900px) {
  .collection_items_display {
    height: 100%;
    display: flex;
    overflow-x: scroll;
  }
}

.collection_items_display::-webkit-scrollbar {
  width: 10px;
  display: block;
}

.collection_items_display::-webkit-scrollbar-track {
  background-color: rgb(15, 13, 13);
}

.collection_items_display::-webkit-scrollbar-thumb {
  background: #242323;
  border-radius: 5px;
}

.collection_img {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  height: 5em;
  width: 4em;
  object-fit: cover;
}

.collection_img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: transform 1s;
}

@media (max-width: 900px) {
  .collection_img {
    height: 4em;
    width: 4em;
  }
}

.collection_img img:hover {
  cursor: pointer;
}

.collections_actions .highlight_button {
  border: solid 1px rgb(88, 15, 88);
}

.border {
  border: solid rgb(15, 13, 13);
}

.selected {
  border: solid rgb(37, 151, 37);
}
