.backdrop {
  background-color: rgba(185, 62, 62, 0.3);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 100;
}

.popup h1 {
  margin: 0;
}

.popup {
  padding: 1em 2em;
  background-color: rgb(17, 15, 15);
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 5px;
  border: solid 5px rgb(34, 33, 33);
  color: white;
  width: 15em;
}

.popup p {
  font-size: 1.5rem;
  margin: 0.5em 0;
}

.popup div {
  position: relative;
  width: 100%;
  height: 3em;
}

.popup button {
  position: absolute;
  padding: 0.5em 1em;
  font-size: 1.3rem;
  border-radius: 20px;
  right: 0;
  border: none;
  background: rgb(48, 44, 44);
  color: white;
}

.popup button:hover {
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 90, 253, 1) 50%,
    rgba(252, 69, 159, 1) 100%
  );
  cursor: pointer;
}

@media (max-width: 700px) {
  .popup p {
    font-size: 1.2rem;
  }

  .popup h1 {
    font-size: 1.5rem;
  }

  .popup button {
    position: absolute;
    padding: 0.5em 0.8em;
    font-size: 1.2rem;
  }
}
