.profile_tab {
  background-color: rgb(15, 13, 13);
  width: 14em;
  height: 31.1em;
  color: white;
  padding: 1em;
}

.tab_actions {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media (max-width: 800px) {
  .adjust_profile {
    width: 10em;
    height: 31.1em;
  }
}

.absolute {
  position: absolute;
  left: 0;
  top: 5.2em;
  transform: translateX(-17em);
  transition: transform 1s;
  z-index: 5;
}

.static {
  margin-top: 4.7em;
}

.profile_tab p:first-child,
.profile_tab p:nth-child(2) {
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 90, 253, 1) 50%,
    rgba(252, 69, 159, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 800px) {
  .profile_tab p:first-child,
  .profile_tab p:nth-child(2) {
    font-size: 0.8rem;
  }
}

.profile_tab button {
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  color: white;
  background: rgb(15, 13, 13);
  transition: background-color 1s;
  margin-right: 2em;
}

@media (max-width: 800px) {
  .profile_tab button {
    font-size: 0.8rem;
  }
}

.profile_tab button:hover {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 90, 253, 1) 50%,
    rgba(252, 69, 159, 1) 100%
  );
  cursor: pointer;
  transition: 1s;
}

.mini_profile {
  position: absolute;
  left: 10em;
  background-color: rgb(15, 13, 13);
  padding: 0.5em;
  padding-left: 1.5em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .profile_tab .mini_profile p {
    font-size: 1.5rem;
  }
}

.mini_profile:hover {
  cursor: pointer;
}

.profile_tab .mini_profile p:first-child {
  color: white;
  padding: 0.5em 0.8em;
  border-radius: 50%;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 90, 253, 1) 50%,
    rgba(252, 69, 159, 1) 100%
  );
  margin: 0;
  -webkit-text-fill-color: unset;
}

.profile_tab .author_info {
  position: absolute;
  bottom: 1.5em;
}

.profile_tab .author_info i {
  font-size: 1.5rem;
  color: white;
  margin-right: 0.5em;
}

.show {
  transform: translateX(0em);
  transition: transform 1s;
}

.hidden {
  display: none;
}
