.main_home {
  margin-top: 10em;
}

.main_home h1 {
  color: white;
  font-family: "Geologica", sans-serif;
  text-align: center;
  font-size: 4em;
}

.main_home h1 span {
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 90, 253, 1) 50%,
    rgba(252, 69, 159, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paintings {
  display: flex;
  padding: 2em 0em;
  width: 100%;
}

.paintings div {
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
  height: 30em;
  width: 20em;
  object-fit: cover;
  border: solid rgb(15, 13, 13);
}

.paintings div:hover {
  cursor: pointer;
}

.paintings div img {
  width: inherit;
  height: inherit;
  transform: scale(1.2);
  object-fit: cover;
  transition: transform 1s;
  border-radius: 3px;
}

.paintings div img:hover {
  transform: scale(1);
  transition: transform 1s;
}

.img_one {
  margin-top: 2em;
}

.img_two {
  margin-bottom: 3em;
}

.img_three {
  margin-top: 3em;
}

.img_four {
  margin-top: 1em;
}

.collections_info,
.details {
  display: flex;
  color: white;
  width: 100%;
  margin: 3em 6em;
}

.collections_info div:first-child {
  width: 60%;
}

.collections_info h1,
.details h1,
.details span {
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 90, 253, 1) 50%,
    rgba(252, 69, 159, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: start;
}

.collections_info p,
.details p {
  font-size: 2rem;
  width: 90%;
}

.details p {
  width: 100%;
}

.details div {
  width: 60%;
}

footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
  background-color: rgb(17, 15, 15);
}

footer a:visited {
  color: white;
}

footer i {
  margin-right: 1em;
  font-size: 1.5rem;
}

.techs {
  width: 100%;
  margin-top: 1em;
}

.techs p {
  margin: 0;
}

.techs div {
  display: flex;
}

.techs ul {
  margin: 0;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
