.main_home {
  margin-top: 10em;
}

.hero_text h1 {
  font-family: "Geologica", sans-serif;
  text-align: center;
  font-size: 4em;
  margin: 0;
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 90, 253, 1) 50%,
    rgba(252, 69, 159, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_text span {
  color: white;
  font-size: 7rem;
  font-family: "Bebas Neue", sans-serif;
}

@media (max-width: 800px) {
  .hero_text h1 {
    font-size: 3rem;
    background-color: bisque;
  }

  .hero_text span {
    font-size: 5rem;
  }
}

@media (max-width: 700px) {
  .hero_text h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 550px) {
  .hero_text h1 {
    font-size: 2rem;
  }
}

.hero_text {
  width: 100%;
  text-align: center;
}

.paintings {
  display: flex;
  padding: 2em 0em;
  width: 100%;
  margin-bottom: 5em;
  justify-content: center;
}

.paintings div {
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
  height: 25em;
  width: 15em;
  object-fit: cover;
  border: solid rgb(15, 13, 13);
}

@media (max-width: 700px) {
  .paintings div {
    height: 20em;
    width: 15em;
  }
}

.paintings div:hover {
  cursor: pointer;
}

.paintings div img {
  width: inherit;
  height: inherit;
  transform: scale(1.2);
  object-fit: cover;
  transition: transform 1s;
  border-radius: 3px;
}

.paintings div img:hover {
  transform: scale(1);
  transition: transform 1s;
}

.img_one {
  margin-top: 2em;
}

.img_two {
  margin-bottom: 3em;
}

.img_three {
  margin-top: 3em;
}

.img_four {
  margin-top: 1em;
}

.board_info img {
  width: 100%;
  object-fit: cover;
}

.board_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.board_info h1 {
  color: white;
  position: absolute;
  font-size: 3rem;
  background-color: rgb(15, 13, 13);
  width: fit-content;
  padding: 0.5em;
  bottom: -0.9em;
  text-align: center;
}

@media (max-width: 1000px) {
  .board_info h1 {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .board_info {
    height: 15em;
  }

  .board_info h1 {
    font-size: 1.5rem;
    bottom: -2em;
  }
}

.collections_info {
  padding-top: 2em;
}

@media (max-width: 700px) {
  .collections_info {
    padding-top: 3.5em;
  }
}

.collections_info,
.details {
  display: flex;
  color: white;
  width: 100%;
  margin: 3em 0em;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  gap: 1em;
}

@media (max-width: 900px) {
  .collections_info,
  .details {
    font-size: 1.5rem;
  }

  .collections_info h1,
  .details h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 700px) {
  .details {
    flex-direction: column;
  }

  .collections_info {
    flex-direction: column-reverse;
  }

  .collections_info img {
    width: 12em;
  }

  .details img {
    width: 12em;
  }
}

.collections_info div:first-child {
  display: flex;
  flex-direction: column;
}

.collections_info div:last-child,
.details div {
  width: 60%;
}

@media (max-width: 550px) {
  .collections_info div:last-child,
  .details div {
    width: 75%;
  }
}

.collections_info h1,
.details h1 {
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 90, 253, 1) 50%,
    rgba(252, 69, 159, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: start;
  font-size: 4rem;
}

@media (max-width: 900px) {
  .collections_info h1,
  .details h1 {
    font-size: 2.5rem;
  }
}

.details span,
.board_info span {
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 90, 253, 1) 50%,
    rgba(252, 69, 159, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: start;
}

footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
  background-color: rgb(17, 15, 15);
}

footer a:visited {
  color: white;
}

footer i {
  margin-right: 1em;
  font-size: 1.5rem;
}

.techs {
  width: 100%;
  margin-top: 1em;
}

.techs p {
  margin: 0;
}

.techs div {
  display: flex;
}

.techs ul {
  margin: 0;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
