.container {
  display: flex;
}

.main {
  padding: 1em;
  margin-top: 5em;
  height: 30em;
  width: 49%;
  background-color: rgb(15, 13, 13);
  overflow-y: scroll;
}

.main::-webkit-scrollbar {
  width: 10px;
  display: block;
}

.main::-webkit-scrollbar-track {
  background-color: rgb(15, 13, 13);
}

.main::-webkit-scrollbar-thumb {
  background: #242323;
  border-radius: 5px;
}

.main_board {
  width: 100%;
}

.img {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
  height: 18em;
  width: 13em;
  object-fit: cover;
  border: solid rgb(15, 13, 13);
}

.img img {
  width: inherit;
  height: inherit;
  transform: scale(1.2);
  object-fit: cover;
  transition: transform 1s;
  border-radius: 3px;
}

.img img:hover {
  transform: scale(1);
  transition: transform 1s;
  cursor: pointer;
}
