body {
  background-color: rgb(15, 13, 13);
}

.hide_overflow_mobile {
  overflow-x: hidden;
  position: absolute;
}

.y_scroll {
  overflow-x: hidden;
}

.no_scroll {
  overflow: hidden;
}

#wrapper {
  width: 100%;
}

* {
  font-family: "Geologica", sans-serif;
}
